.subs-menu {
	min-width: 214px;
	
	tab:hover {
		cursor: pointer;
	}
}


.sub-tabs {
	margin-top: 10px;
}

.substitutions {
	margin-bottom: -22px;
	&:hover {
		cursor: pointer;
		color: white;
		background-color: lightblue;
	}
}