<div class="dashboard">
	<h1>Jazz Chord Substitutor</h1>

	<div class="row">
		<div class="col-md-8 col-lg-8">
			<h2>{{dash.songTitle}}</h2>

			<div class="btn-dash" role="dash">
				<div class="btn-group">
					<li draggable 
							id="rest" 
							class="btn-group btn btn-default note-names" 
							ng-click="dash.addMeasure('rest')">rest</li>
					<li draggable
							class="btn-group btn btn-default note-names"
							ng-repeat="note in dash.notes | limitTo: 12"
							ng-click="dash.addMeasure(note)">{{ ::note }}</li>
				</div>

				<a id="q-mark" 
					 class="btn btn-default data-title" 
					 href="#" 
					 ng-click="dash.getInfo()">?</a>

			</div>

			<div class="btn-group">
			 	<p class="btn btn-default">Beats per Measure: {{dash.beats}}</p>
					  
			 	<button 
			 		type="button"
			 		class="btn btn-default"
			 		ng-click=dash.beatsUp()>&#8593;</button>
			 	<button 
			 		type="button" 
			 		class="btn btn-default"
			 		ng-click=dash.beatsDown()>&#8595;</button>
			</div>
			<br/>

		  <div class="btn-group">
			 	<p class="btn btn-default">Tempo: {{dash.tempo}} bpm</p>
					  
			 	<button 
			 		type="button"
			 		class="btn btn-default"
			 		ng-click=dash.tempoUp()>&#8593;</button>
			 	<button 
			 		type="button" 
			 		class="btn btn-default"
			 		ng-click=dash.tempoDown()>&#8595;</button>
			</div>
			
			<br>

		  <button class="btn btn-default" ng-click="dash.playSong()">Play</button>
		  Play every chord change: <input type="checkbox" ng-click="dash.togglePlayer()"> (may slow down browser)
		</div>

		<div class="col-md-4 col-lg-4 data-service-buttons">
			<!-- <div class="row"> -->
				<div class="input-group">
				  <span class="input-group-addon">Title:</span>
				  <input type="text" 
				  			 id="song-title"
				  			 class="form-control" 
				  			 placeholder="song title" 
				  			 value="{{dash.songTitle}}" 
				  			 ng-model="dash.songTitle"/>
				</div>

				<div class="col-md-6 col-lg-6 data-service-buttons">
					<div class="row">

			  		<button id="save" class="btn btn-default" 
			  		ng-click="dash.saveModal()">Save This Song</button>
					</div>

					<div class="row song-selector">
			  		My Songs:<select class="btn btn-default" ng-model="dash.mySong" ng-options="song as song.title for song in dash.userSongs"></select>

					</div>
					<div class="row song-selector">
			 			Standards:<select class="btn btn-default" ng-model="dash.selectStandard" ng-options="song as song for song in dash.standards"></select>
					</div>
				</div>

				<div class="col-md-6 col-lg-6 data-service-buttons">
					<div class="row">
						<button class="btn btn-default dash" ng-click="dash.discardDraft(dash)">Discard Draft</button>
					</div>
					<div class="row">
						<button class="btn btn-default dash" ng-click="dash.mySong._id && dash.loadSong(dash.mySong._id)">Load My Song</button>
				</div>
				<div class="row">
					<button class="btn btn-default dash" ng-click="dash.selectStandard._id && dash.loadSong(dash.selectStandard._id)">Load Standard</button>
				</div>
			</div>

		</div>
	</div>
</div>

<modals></modals>