.dashboard {
	margin: 20px;
}

#song-title {
	max-width: 360px;
}

.data-service-buttons {
	button {
		margin: 6px;
		max-width: 440px;
	}
}

h1, h2 {
	font-family: 'Chewy', normal;
	margin-left: 30px;
}

.song-selector {
	margin: 2px;
	font-size: 14px;
	height: 45px;

	select {
		margin: 4px;
		margin-top: 6px;
		float: right;
	}
}

#q-mark {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 16px;
  border-radius: 15px; 
  line-height: 1;
}

#save {
	float: right;
}

.note-names {
	margin-left: -2px !important;
}

#rest {
	height: 34px;
}