#score {
	background-color: lightblue;
	min-height: 500px;
	margin: 10px 20px;
	border-radius: 10px;
}

.song {
	display: inline-block;
	margin: 10px;
}

.del-btn {
	height: 32px;
	width: 16px;
	font-size: 10px;
	line-height: 2px;
	padding-left: 4.2px;
	margin-top: -3px;
	margin-right: -4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.measure {
	button {
		border: 0;
		border-right: 1px solid lightgrey;
		border-radius: 0;
	}

	.lastBtn {
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		border-right: 0;
	}
}