
<div id="score" 
     class="row" 
     ng-model="score.song">
	<div class="song" ng-repeat="measure in score.song track by $index">
		<!-- btn-group = beats in measure and delete button -->

    <button class="btn btn-danger btn-xs del-btn"
            ng-click="score.deleteMeasure($index)">X</button>

		<div class="btn-group measure" 
         ng-repeat="beat in measure track by $index">
      <button droppable
              select-beat
              type="button" 
		      		class="btn btn-default"
              ng-class="{lastBtn:$last}"
		      		ng-click="score.makeSubs($event, beat.root)">
      				{{beat.altRoot || beat.root}} {{beat.type}}
              <img class="rest-img" ng-if="!beat.root" src="assets/images/rest8px.png">
			</button>

    </div>


  </div>

</div>
