
<div ui-sortable id="score" class="row" ng-model="score.song">

	<div class="measure" ng-repeat="measure in score.song">
		<!-- btn-group = beats in measure and delete button -->
		<div class="btn-group">
			<li ng-repeat="beat in measure"
					class="btn btn-default"
					>
				<span class="caret"></span>
				{{beat.root}} {{beat.type}}</li>

		<div class="btn-group" dropdown>
      <button type="button" class="btn btn-danger">Action</button>
      <button type="button" class="btn btn-danger dropdown-toggle">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>









		</div>
  </div>
</div>
