
<div ui-sortable id="score" class="row" ng-model="score.song">

	<div class="measure" ng-repeat="measure in score.song">
		<!-- btn-group = beats in measure and delete button -->

		<div class="btn-group" dropdown ng-repeat="beat in measure">

      <button type="button" 
      		class="btn btn-default dropdown-toggle">
      		{{beat.root}} {{beat.type}}
			</button>

			<!-- Substitution dropdown menu -->
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>







  </div>
</div>
